html, body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

h1 {
  margin: 40px 0 10px 0;
  font-size: 18px;
  font-family: "nyt-karnak-display-130124",georgia,"times new roman",times,serif;
}
h2 {
  margin: 10px 0 10px 0;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#top_nav {
  background: #E0E0E0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #424242;
  padding: 10px 0;
}
#top_nav #nav_menu {
   margin-top: 5px;
   float: right;
   text-align: right;
   font-size: 28px;
   font-weight: 600;
   cursor: pointer;
   padding-right: 20px;
}
#top_nav .title {
    font-size: 20px;
    line-height: 44px;
    text-transform: uppercase;
    font-family: "nyt-karnak-display-130124",georgia,"times new roman",times,serif;
    vertical-align: top;
    padding-top: 8px;
    margin-left: 8px;
}
#top_nav .logo_mitch {
   height: 50px;
   padding-left: 20px;
}

#top_nav a {
  color: inherit;
  text-decoration: none;
}
#footer #last_updated {
  float: none;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  color: #90A4AE;
  font-size: 14px;
  font-style: italic;
}


#filter {
  padding: 20px 0;
}
#table_results, #filter {
   margin: 0 auto;
   width: 90%;
}
table, tr, th, td {
  border-collapse: collapse;
  border: 1px solid #90CAF9;
  color: #000000;
  margin: 0;
  padding: 0;
}
td, th {
  margin: 0;
  padding: 10px;
  text-align: center;
}
td:first-child {
  padding: 0px;
}
th {
  background: #BBDEFB;
}
td {
  background: #FFFFFF;
}
tr:hover td {
  background: #E3F2FD;
}

.img_event {
  display: block;
  max-width: 150px;
  max-height: 120px;
  padding: 0;
  margin: 0;
  border: 0;
}
.logo_feed {
   width: 50px;
   display: inline-block;
}
.event_feed {
   font-size: 12px;
}
.event_type {
   font-size: 14px;
}
.event_type2 {
   font-size: 12px;
   color: #1976D2;
}
#menu_panel {
  position: absolute;
  border: 1px solid #EEEEEE;
  background: #FFFFFF;
  right: 340px;
  top: 60px;
  width: 320px;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 0;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: none;
}

.menu_item {
  border-bottom: 1px solid #EEEEEE;
  color: #424242;
  padding: 20px;
}
.menu_item:hover {
  border-bottom: 1px solid #DDDDDD;
  color: #000000;
}

.menu_item img {
  height: 28px;
  margin-right: 4px;
  margin-bottom: -8px;
}
th[data-sort-by] {
  cursor: pointer;
  color: #0D47A1;
}
